{% extends "base.html" %}

{% block content %}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <div class="box">

            <h1 class="title">Create repository</h1>

            {% match error %}
            {% when Some with (e) %}
            <div class="notification is-danger is-light">
              {% match e %}
              {% when RepoCreateError::InvalidName %}
              Repository name must be at least 1 character long and only consist of lowercase/uppercase characters,
              numbers, <code>-</code> and <code>_</code>.
              {% when RepoCreateError::AlreadyExists %}
              Repository with the same name already exists.
              {% endmatch %}
            </div>
            {%- when None -%}
            {% endmatch %}

            <form method="POST" action="/repo/create">
              <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input class="input" type="text" name="name" placeholder="e.g. skyrocket">
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox" name="private">
                    Private visibility (only you and admins can see the repo)
                  </label>
                </div>
              </div>

              <button class="button is-primary">Create</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}