{% extends "base.html" %}

{% block content %}
{% include "../nav.html" %}
<section class="section">
  <div class="container">
    <div class="box">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="/{{ user }}">{{ user }}</a></li>
          <li class="is-active"><a href="#" aria-current="page">{{ repo }}</a></li>
        </ul>
      </nav>
    </div>

    <nav class="panel">
      <p class="panel-heading">
        Content
      </p>
      {% for file in files %}
      <a class="panel-block">
        <span class="panel-icon">
          {% let fa_icon %}
          {% match file.kind %}
          {% when FileKind::Directory %}
          {% let fa_icon = "fa-folder has-text-info" %}
          {% when FileKind::File %}
          {% let fa_icon = "fa-file" %}
          {% endmatch %}
          <i class="fas {{ fa_icon }}" aria-hidden="true"></i>
        </span>
        {{ file.name }}
      </a>
      {% endfor %}
    </nav>

    <div class="box">
      <div class="content">{{ readme|safe }}</div>
    </div>
  </div>
</section>
{% endblock content %}