{% extends "base.html" %}

{% block content %}
{% include "../nav.html" %}
<section class="section">
  <div class="container">

    <div class="tabs is-toggle is-fullwidth">
      <ul>
        <li class="is-active">
          <a>
            <span class="icon is-small"><i class="fas fa-info-circle" aria-hidden="true"></i></span>
            <span>Info</span>
          </a>
        </li>
        <li>
          <a href="/{{ user|urlencode }}/{{ repo|urlencode }}/tree?branch={{ branch|urlencode }}">
            <span class="icon is-small"><i class="fas fa-tree" aria-hidden="true"></i></span>
            <span>Tree</span>
          </a>
        </li>
        <li>
          <a href="/{{ user|urlencode }}/{{ repo|urlencode }}/settings">
            <span class="icon is-small"><i class="fas fa-cogs" aria-hidden="true"></i></span>
            <span>Settings</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="box">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="/{{ user|urlencode }}">{{ user }}</a></li>
          <li class="is-active"><a href="#">{{ repo }}</a></li>
        </ul>
      </nav>
    </div>

    <nav class="panel">
      <p class="panel-heading">
        Content
      </p>
      {% for file in files %}
      <a class="panel-block" href="/{{ user|urlencode }}/{{ repo|urlencode }}/tree/{{ file.name|urlencode }}?branch={{ branch|urlencode }}">
        <span class="panel-icon">
          {% let fa_icon %}
          {% match file.kind %}
          {% when FileKind::Directory %}
          {% let fa_icon = "fa-folder has-text-info" %}
          {% when FileKind::File %}
          {% let fa_icon = "fa-file" %}
          {% endmatch %}
          <i class="fas {{ fa_icon }}" aria-hidden="true"></i>
        </span>
        {{ file.name }}
      </a>
      {% endfor %}
    </nav>

    <div class="box">
      <div class="content">{{ readme|safe }}</div>
    </div>
  </div>
</section>
{% endblock content %}