{% extends "base.html" %}

{% block content %}
{% include "../nav.html" %}
<section class="section">
  <div class="container">

    <div class="tabs is-toggle is-fullwidth">
      <ul>
        <li>
          <a href="/{{ user|urlencode }}/{{ repo|urlencode }}">
            <span class="icon is-small"><i class="fas fa-info-circle" aria-hidden="true"></i></span>
            <span>Info</span>
          </a>
        </li>
        <li class="is-active">
          <a>
            <span class="icon is-small"><i class="fas fa-tree" aria-hidden="true"></i></span>
            <span>Tree</span>
          </a>
        </li>
        <li>
          <a href="/{{ user|urlencode }}/{{ repo|urlencode }}/settings">
            <span class="icon is-small"><i class="fas fa-cogs" aria-hidden="true"></i></span>
            <span>Settings</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="box">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="/{{ user|urlencode }}">{{ user }}</a></li>
          <li><a href="/{{ user|urlencode }}/{{ repo|urlencode }}">{{ repo }}</a></li>
          {% if path.as_str().is_empty() %}
          <li class="is-active"><a class="has-text-success" href="#">{{ branch }}</a></li>
          {% else %}
          <li><a class="has-text-success"
              href="/{{ user|urlencode }}/{{ repo|urlencode }}/tree?branch={{ branch|urlencode }}">{{ branch }}</a></li>
          {% for (name, path) in self.paths() %}
          {% if loop.last %}
          <li class="is-active"><a href="#">{{ name }}</a></li>
          {% else %}
          <li>
            <a
              href="/{{ user|urlencode }}/{{ repo|urlencode }}/tree/{{ path|urlencode }}?branch={{ branch|urlencode }}">
              {{ name }}
            </a>
          </li>
          {% endif %}
          {% endfor %}
          {% endif %}
        </ul>
      </nav>
    </div>

    {% if branches.len() > 1 %}
    <div class="box">
      <form>
        <div class="field has-addons">
          <div class="control is-expanded">
            <div class="select is-fullwidth">
              <select name="branch">
                {% for b in branches %}
                <option value="{{ b }}" {%- if b.as_str()==branch.as_str() %} selected{% endif %}>{{ b }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="control">
            <button type="submit" class="button is-link">
              <span class="icon">
                <i class="fas fa-code-branch"></i>
              </span>
              <span>Switch branch</span>
            </button>
          </div>
        </div>
      </form>
    </div>
    {% endif %}

    {% match tree.kind %}

    {% when TreeKind::Directory with (files) %}
    <nav class="panel">
      <p class="panel-heading">
        Content
      </p>
      {% for file in files %}

      <a class="panel-block" href="{{ self.path_of(file.name)|urlencode }}?branch={{ self.branch|urlencode }}">
        <span class="panel-icon">
          {% let fa_icon %}
          {% match file.kind %}
          {% when FileKind::Directory %}
          {% let fa_icon = "fa-folder has-text-info" %}
          {% when FileKind::File %}
          {% let fa_icon = "fa-file" %}
          {% endmatch %}
          <i class="fas {{ fa_icon }}" aria-hidden="true"></i>
        </span>
        {{ file.name }}
      </a>
      {% endfor %}
    </nav>

    {% when TreeKind::Text with (content) %}
    <div class="box">
      <h1 class="title">{{ tree.name }}</h1>
      <pre class="highlight-code"><code>{{ content|safe }}</code></pre>
    </div>

    {% when TreeKind::Binary with (size) %}
    <div class="box">
      {{ tree.name }} ({{ size }} bytes)
    </div>

    {% endmatch %}
  </div>
</section>
{% endblock content %}