<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <title>Marmalade</title>

    <link rel="icon" type="image/png" sizes="32x32" href="{{ crate::assets::FAVICON_X32_ROUTE }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ crate::assets::FAVICON_X16_ROUTE }}">

    <link rel="stylesheet" href="{{ crate::assets::MAIN_CSS_ROUTE }}">
  </head>
  <body>
    {% block content %}{% endblock content %}
  </body>
</html>