{% extends "base.html" %}

{% block content %}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">

      <h1 class="title">
        {{ self::status_emoji(code) }} {{ code.as_str() -}}

        {%- if let Some(reason) = code.canonical_reason() -%}
        {{ " " }} - {{ reason }}
        {%- endif %}
      </h1>

      {% if let Some(msg) = message %}
      <div class="notification is-danger is-light">
        {{ msg }}
      </div>
      {% endif %}

    </div>
  </div>
</section>
{% endblock content %}