<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  </div>

  <div class="navbar-start">
    <a class="navbar-item" href="/">
      Home
    </a>
    {% match auth_user %}
    {% when Some with (user) %}
    <a class="navbar-item" href="/{{ user.username|urlencode }}">
      Profile
    </a>
    <a class="navbar-item" href="/users">
      Users
    </a>
    {% if user.admin %}
    <a class="navbar-item" href="/settings">
      Settings
    </a>
    {% endif %}
    {%- when None -%}
    {% endmatch %}
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        {% match auth_user %}
        {% when Some with (_) %}
        <form method="POST" action="/logout">
          <button class="button is-dark is-outlined">
            Log out
          </button>
        </form>
        {% when None %}
        <a class="button is-primary" href="/register">
          <strong>Register</strong>
        </a>
        <a class="button is-dark is-outlined" href="/login">
          Log in
        </a>
        {% endmatch %}
      </div>
    </div>
  </div>
</nav>