{% extends "base.html" %}

{% block content %}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-3">

          {% match username %}
          {% when Some with (name) %}
          <p>Hey there, {{ name }}!</p>

          <form class="box" method="POST" action="/logout">
            <button class="button is-primary">Logout</button>
          </form>
          {% when None %}
          <p>I don't know you, go away!</p>
          {% endmatch %}

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}