/*!
 * Fira Code 6.2
 * License - https://github.com/tonsky/FiraCode/blob/6.2/LICENSE (SIL OFL 1.1)
 */
@font-face {
  font-family: 'Fira Code';
  src: url('#{$fc-font-path}/FiraCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
