{% extends "base.html" %}

{% block content %}
{% include "../nav.html" %}
<section class="section">
  <div class="container">

    {% if self.auth_same_user() %}
    <div class="tabs is-toggle is-fullwidth">
      <ul>
        <li class="is-active">
          <a>
            <span class="icon is-small"><i class="fas fa-info-circle" aria-hidden="true"></i></span>
            <span>Info</span>
          </a>
        </li>
        <li>
          <a href="/{{ user|urlencode }}/settings">
            <span class="icon is-small"><i class="fas fa-cogs" aria-hidden="true"></i></span>
            <span>Settings</span>
          </a>
        </li>
      </ul>
    </div>
    {% endif %}

    <div class="box">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li class="is-active"><a href="#" aria-current="page">{{ user }}</a></li>
        </ul>
      </nav>
    </div>

    <nav class="panel">
      <p class="panel-heading">
        Repositories
      </p>
      {% if self.auth_same_user() %}
      <div class="panel-block">
        <a class="button is-primary is-fullwidth" href="/repo/create">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>New repository</span>
        </a>
      </div>
      {% endif %}
      {% for (repo, description) in repos %}
      <a class="panel-block" href="/{{ user|urlencode }}/{{ repo|urlencode }}">
        <span class="has-text-weight-medium">{{ repo }}</span>

        {% if !description.is_empty() %}
        &nbsp;-&nbsp;
        <span class="has-text-weight-light is-size-6">{{ description }}</span>
        {% endif %}
      </a>
      {% endfor %}
    </nav>
  </div>
</section>
{% endblock content %}