{% extends "base.html" %}

{% block content %}
{% include "../nav.html" %}
<section class="section">
  <div class="container">
    <div class="box">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li class="is-active"><a href="#" aria-current="page">{{ user }}</a></li>
        </ul>
      </nav>
    </div>

    <nav class="panel">
      <p class="panel-heading">
        Repositories
      </p>
      <div class="panel-block">
        <a class="button is-primary is-fullwidth" href="/repo/create">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>New repository</span>
        </a>
      </div>
      {% for repo in repos %}
      <a class="panel-block" href="/{{ user|urlencode }}/{{ repo|urlencode }}">
        {{ repo }}
      </a>
      {% endfor %}
    </nav>
  </div>
</section>
{% endblock content %}