{% extends "base.html" %}

{% block content %}
{% include "../nav.html" %}
<section class="section">
  <div class="container">

    <div class="tabs is-toggle is-fullwidth">
      <ul>
        <li>
          <a href="/{{ user|urlencode }}">
            <span class="icon is-small"><i class="fas fa-info-circle" aria-hidden="true"></i></span>
            <span>Info</span>
          </a>
        </li>
        <li class="is-active">
          <a>
            <span class="icon is-small"><i class="fas fa-cogs" aria-hidden="true"></i></span>
            <span>Settings</span>
          </a>
        </li>
      </ul>
    </div>

    {% match message %}
    {% when Some with (m) %}

    {% let color %}
    {% if m == UserSettingsMessage::Success %}
    {% let color = "is-success" %}
    {% else %}
    {% let color = "is-danger is-light" %}
    {% endif %}
    <div class="notification {{ color }}">
      {% match m %}
      {% when UserSettingsMessage::Success %}
      Changes successfully saved!
      {% when UserSettingsMessage::InvalidPassword %}
      Password must be at least 6 characters long.
      {% endmatch %}
    </div>
    {%- when None -%}
    {% endmatch %}

    <div class="box">
      <h4 class="title is-4">Update information</h4>

      <div class="notification">
        The user <strong>name</strong> can't be changed, once created. Please create a new
        user to change the name.
      </div>

      <form method="POST" action="/{{ user|urlencode }}/settings">

        <div class="field">
          <label class="label" for="name">Name</label>
          <div class="control">
            <input class="input" type="text" id="name" value="{{ settings.username }}" readonly>
          </div>
        </div>

        <div class="field">
          <label class="label" for="description">Description</label>
          <div class="control">
            <textarea class="textarea" id="description" name="description" rows="2">
              {{- settings.description -}}
            </textarea>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" id="private" name="private" {%- if settings.private %} checked{% endif %}>
              Private visibility (only admins can see you)
            </label>
          </div>
        </div>

        <button class="button is-primary">
          <span class="icon">
            <i class="fas fa-save"></i>
          </span>
          <span>Save</span>
        </button>
      </form>
    </div>

    <div class="box">
      <h4 class="title is-4">Change password</h4>

      <form method="POST" action="/{{ user|urlencode }}/password">

        <div class="field">
          <label class="label" for="name">New password</label>
          <div class="control">
            <input class="input" type="password" id="password" name="password" placeholder="******"
              autocomplete="new-password" required>
          </div>
        </div>

        <button class="button is-danger">
          <span class="icon">
            <i class="fas fa-key"></i>
          </span>
          <span>Change</span>
        </button>
      </form>
    </div>

  </div>
</section>
{% endblock content %}